@import './shared.scss';

/*******************************
** Browse (Index) Page Styles **
*******************************/
.Browse {
  width: 100%;
}
.Browse__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  padding-bottom: 12px;
  background: $blueTheme;
}
.Browse__msg {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: $whiteTheme;
  margin-bottom: 20px;
}
.Browse__msg__header {
  font-size: 64px;
  font-family: $font1;
}
.Browse__msg__text {
  font-size: 24px;
}
.Browse__search {
  width: 80%;
}
.Browse__searchbar {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  width: 100%;
}
.Browse__tagFilter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background: $blueTheme;

  margin-bottom: 12px;
}
.Browse__tagFilter__title {
  margin-top: 6px;
  margin-left: 0px;
  margin-right: 12px;
  margin-bottom: 6px;

  min-width: 150px;
  color: $whiteTheme;
  font-family: $font1;
  font-size: 18px;
}
.Browse__tagFilter__tagList--applied ul {
  overflow: hidden;
}
.Browse__tagFilter__tagList ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 6px;
  padding-left: 0;
  padding-right: 6px;
  max-height: 125px;
  overflow-y: scroll;
  background: $blueTheme;
}
.Browse__tagFilter__tagList a {
  border: 1px solid $whiteTheme;
  border-radius: 3px;
  color: $whiteTheme;
  font-size: 1.2rem;
  height: 2rem;
  line-height: 1rem;
  letter-spacing: 1px;
  padding: 0.4rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 5rem;
}
.Browse__tagFilter__tagList li {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 6px;
  margin-bottom: 2px;
}
.Browse__tagFilter__tagList a:hover {
  background: $whiteTheme;
  color: $blueTheme;
  text-decoration: none;
}
.Browse__appliedFilter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background: $blueTheme;

  margin-bottom: 12px;
}
.Browse__appliedFilter__title {
  margin-top: 6px;
  margin-left: 0px;
  margin-right: 12px;
  margin-bottom: 6px;

  min-width: 150px;
  color: $whiteTheme;
  font-family: $font1;
  font-size: 18px;
}

.Browse__appliedFilter__tagList ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding-left: 0;
  padding-right: 6px;
  // max-height: 125px;
  background: $blueTheme;
}
.Browse__appliedFilter__tagList a {
  border: 1px solid $whiteTheme;
  border-radius: 3px;
  color: $whiteTheme;
  font-size: 1.2rem;
  height: 2rem;
  line-height: 1rem;
  letter-spacing: 1px;
  padding: 0.4rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 5rem;
}
.Browse__appliedFilter__tagList li {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 6px;
  margin-bottom: 0px;
}
.Browse__appliedFilter__tagList a:hover {
  background: $whiteTheme;
  color: $blueTheme;
  text-decoration: none;
}

/********************
 ** Project Styles **
********************/
.Browse__projects {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 850px) {
    width: 95%;
  }
  @media screen and (min-width: 1050px) {
    width: 80%;
  }
  @media screen and (min-width: 1500px) {
    width: 90%;
  }
}
.Browse__projectsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 20px;
  @media screen and (min-width: 850px) {
    justify-content: space-evenly;
    align-content: center;
  }
}
.Browse__projects__projectCard {
  display: inline-block;
  position: relative;
  width: 50%;
  margin-bottom: 30px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/*****************
** Card Styling **
*****************/
.card {
  // height: 170px;
  width: 500px;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  @media screen and (min-width: 850px) {
    width: 400px;
  }
  @media screen and (min-width: 1150px) {
    width: 450px;
  }
  @media screen and (min-width: 1250px) {
    width: 500px;
  }
  @media screen and (min-width: 1500px) {
    width: 400px;
  }
  @media screen and (min-width: 1500px) {
    width: 450px;
  }
}
.card__container {
  padding: 6px;
}
.card__orgName {
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  font-size: 12px;
  font-family: $font1;
}
.card__projectTitle {
  margin-top: 0px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
}
.card__projectTitle a {
  color: $blackTheme;
  text-decoration: none;
  font-weight: 700;
  font-family: $font1;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card__projectDescrip {
  margin-top: 0px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 6px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $grayTheme;
  font-size: 12px;
  font-family: 12px;
}
.card__tagList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.card__tagList li {
  margin-left: 6px;
  text-decoration: none;
}
.card__tagList a {
  border: 1px solid $blueTheme;
  border-radius: 3px;
  color: $blueTheme;
  font-size: 1rem;
  height: 3rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  padding: 0.4rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 5rem;
  text-decoration: none;
}
.card__tagList a:hover {
  background: $blueTheme;
  color: $whiteTheme;
  text-decoration: none;
}
.card__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  margin-top: 12px;
  margin-left: 6px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.card__authorName {
  margin-left: 6px;
  font-family: $font2;
  font-size: 14px;
  color: $grayTheme;
}
.card__authorImage {
  background-size: cover;
  border-radius: 50%;
  content: ' ';
  height: 32px;
  width: 32px;
}
.Browse__tagFilter__tagList .selected-tag a {
  background: $whiteTheme;
  color: $blueTheme;
  text-decoration: none;
}

/*****************
** Modal Styles **
*****************/
.projectModal__content {
  width: 100%;
  background-color: $whiteTheme;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);

  font-family: $font1;
}
.projectModal__header {
  width: 90%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  border-bottom: 1px solid $grayTheme;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.projectModal__title {
  font-size: 32px;
}
.projectModal__orgName {
  font-size: 14px;
  color: $grayTheme;
}
.projectModal__body {
  width: 90%;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
}
.projectModal__descriptionLabel {
  font-size: 20px;
  margin-top: 6px;
}
.projectModal__description {
  font-size: 16px;
}
.projectModal__tagListLabel {
  font-size: 20px;
  margin-top: 6px;
}
.projectModal__footerLabel {
  font-size: 20px;
  margin-top: 6px;
}
.projectModal__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  width: 90%;

  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;

  font-size: 16px;
}
.projectModal__footer a {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;

}
