/******************
** Shared Styles **
******************/
$blueTheme: #4751c8;
$whiteTheme: #ffffff;
$blackTheme: #333;
$grayTheme: #888;
$font1: 'Open Sans', arial, sans-serif;
$font2: 'Roboto', sans-serif;

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
