/******************
** Shared Styles **
******************/
$blueTheme: #00a1f1;
$whiteTheme: #ffffff;
$blackTheme: #333;
$grayTheme: #888;
$font1: 'Open Sans', arial, sans-serif;
$font2: 'Roboto', sans-serif;
