extends layout

block content  
  div.About
    // Header Section
    div.About__header
      div.About__header__msgLoc
        div.About__header__msg Make Microsoft the platform to do your best work.
    // How It Works Section
    div.About__works
      div.About__works__titleLoc
        div.About__works__title How It Works
      // Boxed Explanations
      div.About__works__content
        // Explanation Box 1
        div.About__works__contentBox
          img(src='media/form.png').About__contentBox__image
          div.About__contentBox__msgLoc
            div.About__contentBox__msg First, fill out your profile information on the account page. Add some projects so that other interns can learn what your team does. 
        // Explanation Box 2
        div.About__works__contentBox
          img(src='media/search.png').About__contentBox__image
          div.About__contentBox__msgLoc
            div.About__contentBox__msg Next, search through other interns projects. This lets you figure out what teams are working on what sorts of problems. 
        // Explanation Box 3
        div.About__works__contentBox
          img(src='media/people.jpg').About__contentBox__image
          div.About__contentBox__msgLoc
            div.About__contentBox__msg If you find projects that you're interested in, you can reach out to the respective intern or manager. 