extends layout

block content
  div.Account
    div.Account__title#titleHeader(data-account-id=user._id) Account Page
    ul.nav.nav-tabs#tabsMenu
      li.menuTab.active#profileTab
        a(href="#") Profile Info

    // Account information
    div.formWrapper( style="padding-top:3%")

    // Projects Section
    div.Account__contents#accountContents
    div.Account__projects#projectSection

    button.btn.btn-primary#addProject Add new project
    button.btn.btn-primary#submitForm(type='submit' style="margin-left: 2%;") Save
