extends layout

block content
  div.Account
    div.Account__title#titleHeader(data-account-id=user._id) Account Page
    ul.nav.nav-tabs#tabsMenu(role="tablist")
      li.nav-item.menuTab.active#profileTab
        a.tabBorder.nav-link(href="#") Profile Info

    // Account information
    div.formWrapper( style="padding-top:3%")

    // Projects Section
    div.Account__contents#accountContents
    div.Account__projects.selected-tag--account#projectSection

    button.btn.btn-primary#submitForm(type='submit') Save
