extends layout

block content
  h1 Account Page
  .formWrapper(style="margin-left:3%; max-width:50%;" )
    form( autocomplete="off" )
      .form-group
        label(for='displayName') Display Name
        input#displayName.form-control(type='email', aria-describedby='emailHelp', placeholder=user.displayName, disabled )
      .form-group
        label(for='exampleInputPassword1') UPN
        input#upn.form-control(type='password', placeholder=user.upn disabled)
      .form-group
        label(for='displayName') Department
        input#department.form-control(type='email', aria-describedby='emailHelp', placeholder=user.department, disabled )
      .form-group
        label(for='displayName') Job Title
        input#jobTitle.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email' )
      .form-group
        label(for='exampleInputPassword1') Team
        input#team.form-control(type='password', placeholder='Password')
      .form-group
        label(for='exampleInputPassword1') Org
        input#org.form-control(type='password', placeholder='Password')
      button.btn.btn-primary Add new project
      button.btn.btn-primary(type='submit') Submit
