extends layout

block content
  div.Browse
    div.Browse__container
      div.Browse__msg
        div.Browse__msg__header Browse Projects
        div.Browse__msg__text Start seaching for projects now. 
      div.Browse__search
        // Search Bar
        div.Browse__searchbar
          input.form-control(type='text', placeholder='Search for projects here...', aria-label='search')
        // Concept Tags Filter
        div.Browse__tagFilter 
          div.Browse__tagFilter__title Filter by concepts
          div.Browse__tagFilter__tagList#conceptTagContainer
        // Stack Tags Filter
        div.Browse__tagFilter 
          div.Browse__tagFilter__title Filter by stack
          div.Browse__tagFilter__tagList#techStackTagContainer
        // Applied Tags
        div.Browse__tagFilter 
          div.Browse__tagFilter__title Applied filters
          div.Browse__tagFilter__tagList#filterTags
            ul#filterTagsList
    div.Browse__projects
      div.Browse__projectsList#filteredProjects
        .card
          div.card__container
            div.card__orgName Org/Dept/Team
            div.card__projectTitle
              a(href='#') Project Title
            div.card__projectDescrip
              | This project aims to create a UI for the existing PowerShell loren ipsum etc etc etc testing for multiple lines to see how this looks idk why multilines have to be so complicated
            ul.card__tagList
              li
                a(href='#') css
              li
                a(href='#') web design
              li
                a(href='#') codepen
              li
                a(href='https://twitter.com/russbeye') twitter
            .card_footer
              img(src='media/soAnonymous.png').card__authorImage 
              .card__authorName Hannah Fowler, Program Management Intern
        .card
          div.card__container
            div.card__orgName Org/Dept/Team
            div.card__projectTitle
              a(href='#') Project Title
            div.card__projectDescrip
              | This project aims to create a UI for the existing PowerShell loren ipsum etc etc etc testing for multiple lines to see how this looks idk why multilines have to be so complicated
            ul.card__tagList
              li
                a(href='#') css
              li
                a(href='#') web design
              li
                a(href='#') codepen
              li
                a(href='https://twitter.com/russbeye') twitter
            .card_footer
              img(src='media/soAnonymous.png').card__authorImage 
              .card__authorName Hannah Fowler, Program Management Intern
        .card
          div.card__container
            div.card__orgName Org/Dept/Team
            div.card__projectTitle
              a(href='#') Project Title
            div.card__projectDescrip
              | This project aims to create a UI for the existing PowerShell loren ipsum etc etc etc testing for multiple lines to see how this looks idk why multilines have to be so complicated
            ul.card__tagList
              li
                a(href='#') css
              li
                a(href='#') web design
              li
                a(href='#') codepen
              li
                a(href='https://twitter.com/russbeye') twitter
            .card_footer
              img(src='media/soAnonymous.png').card__authorImage 
              .card__authorName Hannah Fowler, Program Management Intern
