extends layout

block content
  #projectModal.modal(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document', style='max-width:800px')
      .projectModal__content
        .projectModal__header
          .projectModal__title
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .projectModal__body
          .projectModal__orgName
          .projectModal__description
          .projectModal__tagList
        .projectModal__footer
  div.Browse
    div.Browse__container
      div.Browse__msg
        div.Browse__msg__header Browse Projects
        div.Browse__msg__text Filter your filters here 
      div.Browse__search
        // Search Bar
        div.Browse__searchbar
          input.form-control(type='text', id="mainSearchBar" placeholder='Search for projects here...', aria-label='search')
        // Concept Tags Filter
        div.Browse__tagFilter 
          div.Browse__tagFilter__title Filter by concepts
          div.Browse__tagFilter__tagList#conceptTagContainer
        // Stack Tags Filter
        div.Browse__tagFilter 
          div.Browse__tagFilter__title Filter by stack
          div.Browse__tagFilter__tagList#techStackTagContainer
        // Applied Tags
        div.Browse__appliedFilter 
          div.Browse__appliedFilter__title Applied filters
          div.Browse__appliedFilter__tagList#filterTags
            ul#filterTagsList
    div.Browse__projects
      div.Browse__projectsList#filteredProjects
