extends layout

block content
  div.Browse
    div.Browse__container
      div.Browse__msg
        div.Browse__msg__header Browse Projects
        div.Browse__msg__text Filter through the projects below to find your dream team 
      div.Browse__search
        // Search Bar
        div.Browse__searchbar
          input.form-control(type='text', id="mainSearchBar" placeholder='Type to filter the tags!', aria-label='search')
        // Concept Tags Filter
        div.Browse__tagFilter 
          div.Browse__tagFilter__title Filter by concepts
          div.Browse__tagFilter__tagList#conceptTagContainer
        // Stack Tags Filter
        div.Browse__tagFilter 
          div.Browse__tagFilter__title Filter by stack
          div.Browse__tagFilter__tagList#techStackTagContainer
        // Applied Tags
        div.Browse__appliedFilter 
          div.Browse__appliedFilter__title Applied filters
          div.Browse__appliedFilter__tagList#filterTags
            ul#filterTagsList
    div.Browse__projects
      div.Browse__projectsList#filteredProjects
